In [38]:
from load_preprocess.functions import Data
from load_preprocess.predictions import Number_Stations
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
# import config
import json
import numpy as np

from shapely.geometry import LineString, mapping
from itertools import combinations
import re
from scipy import spatial
import os
import geopandas as gpd
import folium
import branca.colormap as cm

In [2]:
data = Data(path = 'data/')
df = data.create_df()

df.head(10)

100%|██████████| 10/10 [00:48<00:00,  4.86s/it]

,region,road_density,length_m,area_m,length_max,length_mean,diameter,longest_line
3,Île-de-France,0.000227,2.744410e+06,1.206353e+10,85932.399845,3076.692877,123934.499714,162432.991960
15,Nord-Pas-de-Calais,0.000151,1.887368e+06,1.249483e+10,147881.271737,4015.676440,126130.541927,208410.677869
10,Haute-Normandie,0.000113,1.398489e+06,1.237197e+10,135138.054662,4994.602982,125508.904876,163440.964713
0,Alsace,0.000106,8.836421e+05,8.322648e+09,171172.687144,4374.466068,102940.396161,188809.381774
17,Picardie,0.000093,1.822331e+06,1.954720e+10,163238.986421,7854.875311,157760.172316,218702.689596
20,Rhône-Alpes,0.000090,4.039422e+06,4.497380e+10,203474.560283,4047.517513,239295.676544,319508.048270
13,Lorraine,0.000085,2.007468e+06,2.366142e+10,189457.934215,4562.427574,173570.336256,235280.099059
6,Bretagne,0.000085,2.333729e+06,2.760417e+10,244626.451176,4037.593151,187474.602114,285248.867037
4,Basse-Normandie,0.000078,1.386823e+06,1.780635e+10,122829.920651,3688.358818,150571.399619,263736.945386
16,Pays de la Loire,0.000077,2.480511e+06,3.233398e+10,228887.324618,6852.239326,202901.214557,276408.162313

In [ ]:
stations_num = Number_Stations(df_data=df, path_conf='params/config.json', length_to_use='longest_line', scenario="scenario1")
df_f = stations_num.final_station_calculation()

df_f.head(10)

In [ ]:
df_f.num_stations_2030.sum(), df_f.num_stations_2040.sum()

In [ ]:
stations_num.save_predictions(df_f)

In [ ]:
stations_num.get_scenario_output(df_f)

Part 2

In [ ]:
data = Data(path = 'data/')

In [ ]:
shap_files = data.get_shapefiles()

In [ ]:
csvs = data.get_csvs()

In [ ]:
jsons = data.get_jsons()

In [ ]:
from station_finder.functions import StationLocator
station_locator = StationLocator(shap_files, csvs)
sorted_locations = station_locator.get_best_location(grid_size=10_000)

In [ ]:
from station_finder.functions import Scenarios
scenarios = Scenarios(shap_files, csvs)
top_locations = scenarios.distribute_locations(sorted_locations = sorted_locations,region_breakdown = jsons['output_scenario1']["num_stations_2030"])

In [ ]:
import geopandas as gpd
from itertools import chain
from shapely.geometry import Point
from shapely import geometry
from shapely.geometry import LineString

def merge_closest_points(top_locations: gpd.GeoDataFrame):
    """Merge close points into one station.

    Args:
        top_locations: geodataframe with top locations selected by model and their scores.
    Returns:
        polygones: final list of points with their score and number of merged points.
    """
    top_locations = list(zip(top_locations[0], top_locations[1]))
    distances = {}
    for i in range(len(top_locations)):
        distances.setdefault(i, [])
        for j in range(len(top_locations)):
            if top_locations[i][0].distance(top_locations[j][0]) <= 10000:
                distance = top_locations[i][0].distance(top_locations[j][0])
                distances[i].append((top_locations[j][0].xy[0][0], top_locations[j][0].xy[1][0]))
    
    for key, values in distances.items():
        distances[key] = (values, len(values))
    
    distances = {k:v[0] for k, v in sorted(distances.items(), key=lambda item: item[1][1], reverse=True)}

    distances_reduced = {}
    distances_val = {}
    for i in range(len(distances)):
        if set(distances[i]).isdisjoint(set(list(chain(*list(distances_val.values()))))):
            distances_val[i] = distances[i]
            distances_reduced[i] = [Point(xy) for xy in distances[i]]
    
    polygones = []
    for key, values in distances_reduced.items():
        if len(values) == 1:
            point = values[0]
        elif len(values) == 2:
            line = LineString([values[0], values[1]])
            point = line.centroid
        else:
            point = geometry.Polygon(values).centroid
        avg_score = np.mean([item[1] for item in top_locations if item[0] in values])
        #if not any(p.equals(point) for p, _ in polygones):
        polygones.append((point, avg_score, len(values)))
    
    return polygones

In [ ]:
polygons = merge_closest_points(top_locations)
len(polygons)

In [ ]:
new_points = scenarios.fix_locations(polygons)

In [ ]:
np.percentile([k*j for i, j, k in new_points], 25), np.percentile([k*j for i, j, k in new_points], 50), np.percentile([k*j for i, j, k in new_points], 75)

In [ ]:
def get_size_station(new_points: list[object]):
    """Get the size of each station based on its score and number of merged stations.
    Args:
        new_points: list of locations, score and number of stations merged.
    Returns:
        new_points: list of locations and size of station
    """
    thresholds = [
        np.percentile([k*j for i, j, k in new_points], 50),
        np.percentile([k*j for i, j, k in new_points], 75)
        ]
    final_points = []
    for i in range(len(new_points)):
        val = new_points[i][1]*new_points[i][2]
        if val <= thresholds[0]:
            final_points.append((new_points[i][0],"small"))
        elif val <= thresholds[1]:
            final_points.append((new_points[i][0],"medium"))
        else:
            final_points.append((new_points[i][0],"large"))
    return final_points

In [ ]:
new_points[0][0]

In [ ]:
get_size_station(new_points)

In [ ]:
np.sum([1 for i, j, k, n in new_points if n == "large"]), np.sum([1 for i, j, k, n in new_points if n == "medium"]), np.sum([1 for i, j, k, n in new_points if n == "small"])

In [ ]:
sorted_locations = list(zip(top_locations[0], top_locations[1]))
distances = {}
for i in range(len(sorted_locations)):
    distances.setdefault(i, [])
    for j in range(len(sorted_locations)):
        if sorted_locations[i][0].distance(sorted_locations[j][0]) <= 10000:
            distance = sorted_locations[i][0].distance(sorted_locations[j][0])
            distances[i].append((sorted_locations[j][0].xy[0][0], sorted_locations[j][0].xy[1][0]))

In [ ]:
for key, values in distances.items():
    distances[key] = (values, len(values))

In [ ]:
distances_test = {k:v[0] for k, v in sorted(distances.items(), key=lambda item: item[1][1], reverse=True)}

In [ ]:
from itertools import chain
from shapely.geometry import Point

distances_reduced = {}
distances_val = {}
for i in range(len(distances_test)):
    if set(distances_test[i]).isdisjoint(set(list(chain(*list(distances_val.values()))))):
        distances_val[i] = distances_test[i]
        distances_reduced[i] = [Point(xy) for xy in distances_test[i]]

In [ ]:
from shapely import geometry
from shapely.geometry import LineString
polygones = []
for key, values in distances_reduced.items():
    if len(values) == 1:
        point = values
    elif len(values) == 2:
        line = LineString([values[0], values[1]])
        point = line.centroid
    else:
        point = geometry.Polygon(values).centroid
    avg_score = np.mean([item[1] for item in sorted_locations if item[0] in values])
    #if not any(p.equals(point) for p, _ in polygones):
    polygones.append((point, avg_score, len(values)))

In [ ]:
len(top_locations)

In [ ]:
len(polygones)

In [ ]:
polygones

Functions (Not needed anymore)

In [ ]:
# def clean_freight_df(df, on_load=True):
    
#     df = df[['TIME', 'TIME.1', '2021']]
    
#     if on_load:
#         freight_type = "number_onload"
#     else:
#         freight_type = "number_offload"
        
#     df.rename(columns={"TIME": "geo_code", "TIME.1": "geo_labels", "2021": freight_type}, inplace=True)
#     df = df.iloc[1:]
#     df_clean = df[df.geo_code.str.startswith("FR").fillna(False)]
#     df_clean.reset_index(inplace=True, drop=True)
    
#     df_clean[freight_type] = df_clean[freight_type].astype('str')
#     df_clean[freight_type] = df_clean[freight_type].str.replace('\.0*$', '', regex=True)
#     df_clean.loc[~(df_clean[freight_type].str.isdigit()), freight_type] = '0'
#     df_clean[freight_type] = df_clean[freight_type].astype('int')
    
#     return df_clean

# def department_region_map(path, df_fr):
#     df_dpts_region = pd.read_csv(path)
#     df_dpts_region.rename(columns={"dep_name":"geo_labels", "region_name":"new_region_name", "old_region_name": "region"}, inplace=True)
#     df_final = pd.merge(df_fr, df_dpts_region[["geo_labels", "region"]], how='left', on=['geo_labels'])
#     df_final = df_final[~(df_final.geo_labels.str.endswith(" "))]
#     return df_final

# def merge_freight(path, df_on, df_off):
    
#     df_onload_fr = clean_freight_df(df_on, on_load=True)
#     df_offload_fr = clean_freight_df(df_off, on_load=False)

#     df_fr = pd.merge(df_onload_fr, df_offload_fr, how='inner', on=['geo_code', 'geo_labels'])
#     df_fr['total_load'] = df_fr.number_offload + df_fr.number_onload 
    
#     df_fr['geo_labels'] = [c[0] for c in df_fr['geo_labels'].str.split("(")]
#     df_fr = department_region_map(path, df_fr)
#     df_fr = df_fr.groupby("region")["total_load"].sum().reset_index()
#     df_fr["full_load"] = df_fr["total_load"].sum()   
#     df_fr["perc_load"] = df_fr["total_load"]/df_fr["full_load"]

#     return df_fr

# def calculate_trucks_stations_peryear(df, year=2030):
    
#     autonomy_high_ms = market_share[0]/sum(market_share)
#     autonomy_medium_ms =market_share[1]/sum(market_share)
#     autonomy_low_ms = market_share[2]/sum(market_share)
#     autonomy_high_km = autonomy_share[0]
#     autonomy_medium_km = autonomy_share[1]
#     autonomy_low_km = autonomy_share[2]
    
#     if (year not in [2030, 2040]):
#         year = 2030
        
#     if year==2030:
#         H2_trucks_num = H2_trucks_2030
#     else:
#         H2_trucks_num = H2_trucks_2040
        
#     df["h2_num_"+str(year)] = H2_trucks_num*df["perc_load"]
#     df["R_"+str(year)+"_high_aut"] = autonomy_high_ms*df["h2_num_"+str(year)]*df["avg_distance_high_aut"]/autonomy_high_km
#     df["R_"+str(year)+"_mid_aut"] = autonomy_medium_ms*df["h2_num_"+str(year)]*df["avg_distance_midlow_aut"]/autonomy_medium_km
#     df["R_"+str(year)+"_low_aut"] = autonomy_low_ms*df["h2_num_"+str(year)]*df["avg_distance_midlow_aut"]/autonomy_low_km
#     df["R_"+str(year)+"_total"] = df["R_"+str(year)+"_high_aut"] + df["R_"+str(year)+"_mid_aut"] + df["R_"+str(year)+"_low_aut"]
#     df["C_"+str(year)] = open_time/avg_time_fill
    
#     return df
    
# def calculate_stations(df, year=2030):
    
#     if (year not in [2030, 2040]):
#         year = 2030
        
#     df["num_stations_"+str(year)] = (df["R_"+str(year)+"_total"] / df["C_"+str(year)]).round().astype(int)

#     return df

# def calculate_number_stations(df, length_to_use='longest_line'):
#     """_summary_

#     Args:
#         df : _description_
#         length_to_use : can be 'longest_line', 'diameter' or 'length_max'.

#     Returns:
#         _type_: _description_
#     """

#     if (length_to_use not in ['longest_line', 'diameter', 'length_max']):
#         length_to_use = 'longest_line'
        
#     df["max_length_drive"] = max_hours_drive*avg_speed_kmh
#     df[["length_max", "length_mean", "diameter", "longest_line"]] = df[["length_max", "length_mean", "diameter", "longest_line"]]/1e3
#     df["avg_distance_high_aut"] = df[["max_length_drive", length_to_use]].min(axis=1) # This would be updated either by diameter or longest point
#     df["avg_distance_midlow_aut"] = 0.6*df["avg_distance_high_aut"]#df_new[["max_length_drive", "length_mean"]].min(axis=1)
    
#     df = calculate_trucks_stations_peryear(df, year=2030)
#     df = calculate_trucks_stations_peryear(df, year=2040)
    
#     df = calculate_stations(df, year=2030)
#     df = calculate_stations(df, year=2040)

#     return df

Execute functions (Not needed)

In [ ]:
# path_conf = "params/config.json"
# conf = json.load(open(path_conf, "r"))
# locals().update(conf)

# df_on = pd.read_excel(path_on_freight, sheet_name='Sheet 1', skiprows=8)
# df_off = pd.read_excel(path_off_freight, sheet_name='Sheet 1', skiprows=8)

# df_fr = merge_freight(path_region_dpt_map, df_on, df_off)
# df_new = pd.merge(df, df_fr[["region", "perc_load"]], how="left", on="region")

# df_new = calculate_number_stations(df_new)

# display(df_fr.head(10))

# df_new.head(10)

In [40]:
df_final_points

,points,size,score,2040_demand,year
0,POINT (349897.3828152193 6787126.496840154),large,28.472269,6519.608713,2030.0
1,POINT (859374.1128636684 6509910.7609227905),large,28.125491,6440.203162,2030.0
2,POINT (679889.884000003 6858774.466),large,25.493494,5837.525922,2030.0
3,POINT (675647.5701007999 6864404.35065435),large,25.461621,5830.227398,2030.0
4,POINT (501897.7601 6927171.4867),large,24.862709,5693.087935,2030.0
...,...,...,...,...,...
278,POINT (516781.99014209316 6358773.947951271),NaN,1.400367,320.657431,2040.0
279,POINT (688246.075000003 6169273.742),NaN,1.284057,294.024569,2040.0
280,POINT (571431.4716471918 6328819.535394812),NaN,1.261500,288.859551,2040.0
281,POINT (528785.5475687049 6331548.799938178),NaN,1.008440,230.913529,2040.0
282,POINT (561729.057999998 6258014.876),NaN,0.713369,163.348038,NaN

In [42]:
df_final_points.points

0       POINT (349897.3828152193 6787126.496840154)
1      POINT (859374.1128636684 6509910.7609227905)
2              POINT (679889.884000003 6858774.466)
3        POINT (675647.5701007999 6864404.35065435)
4                  POINT (501897.7601 6927171.4867)
                           ...
278    POINT (516781.99014209316 6358773.947951271)
279            POINT (688246.075000003 6169273.742)
280     POINT (571431.4716471918 6328819.535394812)
281     POINT (528785.5475687049 6331548.799938178)
282            POINT (561729.057999998 6258014.876)
Name: points, Length: 283, dtype: object

In [43]:
from shapely import wkt

In [203]:
df_cost = pd.read_csv('app/pages/utils/cases_csv_part3/cost_yearly_scenario3.csv')
df_cost.drop('Unnamed: 0', axis=1, inplace=True)

df_final_points = pd.read_csv('app/pages/utils/cases_csv_part3/final_points_scenario3.csv')
df_final_points.drop('Unnamed: 0', axis=1, inplace=True)
df_final_points['points'] = df_final_points['points'].apply(wkt.loads)

df_points = gpd.GeoDataFrame(df_final_points, geometry=df_final_points.points).set_crs('2154')
df_points = df_points[~ df_points.year.isna()]

In [167]:
df_points

,points,size,score,2040_demand,year,geometry
0,POINT (349897.3828152193 6787126.496840154),large,28.472269,6519.608713,2030.0,POINT (349897.383 6787126.497)
1,POINT (859374.1128636684 6509910.7609227905),large,28.125491,6440.203162,2030.0,POINT (859374.113 6509910.761)
2,POINT (679889.884000003 6858774.466),large,25.493494,5837.525922,2030.0,POINT (679889.884 6858774.466)
3,POINT (675647.5701007999 6864404.35065435),large,25.461621,5830.227398,2030.0,POINT (675647.570 6864404.351)
4,POINT (501897.7601 6927171.4867),large,24.862709,5693.087935,2030.0,POINT (501897.760 6927171.487)
...,...,...,...,...,...,...
278,POINT (516781.99014209316 6358773.947951271),NaN,1.400367,320.657431,2040.0,POINT (516781.990 6358773.948)
279,POINT (688246.075000003 6169273.742),NaN,1.284057,294.024569,2040.0,POINT (688246.075 6169273.742)
280,POINT (571431.4716471918 6328819.535394812),NaN,1.261500,288.859551,2040.0,POINT (571431.472 6328819.535)
281,POINT (528785.5475687049 6331548.799938178),NaN,1.008440,230.913529,2040.0,POINT (528785.548 6331548.800)
282,POINT (561729.057999998 6258014.876),NaN,0.713369,163.348038,NaN,POINT (561729.058 6258014.876)

In [163]:
df_points['size'].value_counts(dropna=False)

large     137
medium     66
small      47
NaN        33
Name: size, dtype: int64

In [ ]:
# case = Case(shp, csvs, jsons)
# new_scenarios = case.market_share(jsons['output_scenario3'],
#                                   scored_locations,
#                                   case.total_h2_stations)

# case3 = case.calculate_case3(scored_locations, scenario=new_scenarios)
colors = ['#FF0000', # red
          '#FF7F00', # orange
          '#FFFF00', # yellow
          '#00FF00', # green
          '#00FFFF', # cyan
          '#0000FF', # blue
          '#8B00FF', # violet
          '#FF00FF', # magenta
          '#FF007F', # rose
          '#808080', # gray
          '#FFFFFF'] # white
france_center = [46.2276, 2.2137]
m = folium.Map(location=france_center, zoom_start=6, tiles='cartodbpositron')
for i in enumerate(df_points.index):
    # input = gpd.GeoDataFrame(df_points['year'], geometry=0).set_crs('2154')
    # resized_locations = scenarios.merge_closest_points(input)
    # fixed_locations = scenarios.fix_locations(resized_locations)
    # fixed_locations = gpd.GeoDataFrame(fixed_locations, geometry=0).set_crs('2154')
    top_2030 = folium.GeoJson(df_points,
                              marker = folium.CircleMarker(
                                      radius = 4,
                                      weight = 0,
                                      fill_color = colors[i], 
                                      fill_opacity = 0.8,)                                  
                                  ).add_to(m)

In [151]:
# Create a geometry list from the GeoDataFrame
# colors = ['#FF0000', # red
#           '#FF7F00', # orange
#           '#FFFF00', # yellow
#           '#00FF00', # green
#           '#00FFFF', # cyan
#           '#0000FF', # blue
#           '#8B00FF', # violet
#           '#FF00FF', # magenta
#           '#FF007F', # rose
#           '#808080', # gray
#           '#FFFFFF'] # white

colors = ['#2C3E50',
          '#C0392B',
          '#E74C3C',
          '#9B59B6',
          '#8E44AD',
          '#2980B9',
          '#3498DB',
          '#27AE60',
          '#F1C40F',
          '#E67E22',
          '#D35400']

# # Iterate through list and add a marker for each volcano, color-coded by its type.
# m = folium.Map(location=france_center, zoom_start=6, tiles='cartodbpositron')
# for idx, year_i in enumerate(set(df_points.year.astype(int))):
#     type_color = colors[idx]
#     df_p = df_points[df_points.year==year_i]
#     geo_df_list = [[point.xy[1][0], point.xy[0][0]] for point in df_p.geometry]
#     for coordinates in geo_df_list:
#         # assign a color marker for the type of volcano, Strato being the most common
#         # Place the markers with the popup labels and data
#         m.add_child(
#             folium.Marker(
#                 location=coordinates,
#                 # popup=
#                 #     "Year: " + str(geo_df.Year[i]) + "<br>"
#                 #     + "Name: " + str(geo_df.Name[i]) + "<br>"
#                 #     + "Country: " + str(geo_df.Country[i]) + "<br>"
#                 #     + "Type: " + str(geo_df.Type[i]) + "<br>"
#                     # + "Coordinates: " + str(geo_df_list[i]),
#                 icon=folium.Icon(color="%s" % type_color) 
#             )
#         )    


# # Method 2

m = folium.Map(location=france_center, zoom_start=5, tiles='cartodbpositron')
for idx, year_i in enumerate(set(df_points.year.astype(int))):
    type_color = colors[idx]
    df_p = df_points[df_points.year==year_i]
    geo_df_list = [[point.xy[1][0], point.xy[0][0]] for point in df_p.geometry]

    top_2030 = folium.GeoJson(df_p.geometry,
                              marker = folium.CircleMarker(
                                      radius = 3,
                                      weight = 0,
                                      fill_color = colors[idx], 
                                      fill_opacity = 0.8)                   
                                  ).add_to(m)

colormap = cm.LinearColormap(colors=colors,
                             index=set(df_points.year.astype(int)), vmin=int(2030), vmax=int(2040),
                             caption='Total Standard deviation at the point[mm]',
                             ).add_to(m)

In [169]:
df_points['year'].value_counts()

2030.0    32
2031.0    25
2032.0    25
2033.0    25
2034.0    25
2035.0    25
2036.0    25
2037.0    25
2038.0    25
2039.0    25
2040.0    25
Name: year, dtype: int64

In [ ]:
m

In [204]:
df_cost

,year,costs_fix,profit_op_year,max_op_profit,cumsum_maxopprofit,cumsumwithgrowth_profit,total_profit,total_profit_cumsum
0,2030,551.0,159.151245,480.825,480.825,159.151245,-391.848755,-391.848755
1,2031,70.0,11.923227,58.795,539.620,202.268116,132.268116,-259.580638
2,2032,62.0,10.046114,48.265,587.885,251.958781,189.958781,-69.621858
3,2033,19.0,4.308436,20.480,608.365,305.651137,286.651137,217.029280
4,2035,6.0,1.116459,3.050,611.415,366.675219,360.675219,577.704499

In [205]:
chart_1 = alt.Chart(df_bar).mark_bar(color="#D8FAD9").encode(
    x=alt.X('year:O', title='Year'),
    y=alt.Y('Count:Q', title='Count')
).properties(
    width=500
)
# chart_2 = alt.Chart(df_bar).mark_bar(color="#D8FAD9").encode(
#     x=alt.X('scenario2:O', title='Scenario'),
#     y=alt.Y('Total Number of Stations 2040:Q', title='Total Number of Stations')
# ).properties(
#     width=500
# )

line_1 = chart_1.mark_line(color='#5DB44C').encode(
    x='year:O',
    y='Count:Q'
)

# line_2 = chart_2.mark_line(color='#5DB44C').encode(
#     x='scenario2:O',
#     y='Total Number of Stations 2040:Q'
# )

col1, col2 = st.columns(2)

col1.subheader(":clock3: :red[2030]")
col2.subheader(":hourglass_flowing_sand: :red[2040]")

with col1:
    st.write(chart_1 + line_1)
with col2:
    st.write(chart_2 + line_2)

NameError: name 'st' is not defined

In [199]:
import altair as alt

In [202]:
df_cost

,year,costs_fix,profit_op_year,max_op_profit,cumsum_maxopprofit,cumsumwithgrowth_profit,total_profit,total_profit_cumsum
0,2030,256.0,29.185160,215.680,215.680,29.185160,-226.814840,-226.814840
1,2031,200.0,20.672683,168.500,384.180,55.578135,-144.421865,-371.236705
2,2032,200.0,21.980725,168.500,552.680,88.452174,-111.547826,-482.784530
3,2033,200.0,23.415649,168.500,721.180,129.204449,-70.795551,-553.580081
4,2034,200.0,25.990966,168.500,889.680,180.519487,-19.480513,-573.060594
5,2035,140.0,32.626466,98.700,988.380,248.527772,108.527772,-464.532822
6,2036,125.0,34.793282,81.250,1069.630,332.032497,207.032497,-257.500325
7,2037,117.0,37.165647,74.350,1143.980,434.276513,317.276513,59.776188
8,2038,75.0,33.760674,38.125,1182.105,553.155384,478.155384,537.931572
9,2039,54.0,21.945631,27.450,1209.555,683.519470,629.519470,1167.451043

In [209]:
df_cost["total_profit"].gt(0).idxmax()
df_cost["total_profit_cumsum"].gt(0).idxmax()

1

In [ ]:
new_scenarios = case.market_share(jsons['output_scenario3'],
                                  scored_locations,
                                  case.total_h2_stations)